{% extends "layout.html" %}

{% block title %}
	Readers for Readers: Sign Up
{% endblock %}

{% block heading %}
    Readers for Readers
{% endblock %}

{% block images %}
    			  <img src="{{ url_for('static',filename='images/img1.jpg') }}">
			      <img src="{{ url_for('static',filename='images/img2.jpg') }}">
			      <img src="{{ url_for('static',filename='images/img3.jpg') }}">
			      <img src="{{ url_for('static',filename='images/img4.jpg') }}">
			      <img src="{{ url_for('static',filename='images/img5.jpg') }}">
			      <img src="{{ url_for('static',filename='images/img6.jpg') }}">
{% endblock %}

{% block center %}
    <p class="center">
		<h2 style="font-family: times; color: #4d194d;"><b>Sign Up for free account</b></h2>
	 	<form action="{{ url_for('signup') }}" method="post" style="border-style: solid; border-width: 1.5px; border-color: brown; text-align: center; font-family: times; color: brown;">
			<div class="container"> 
            	<label><b>Name</b></label><br> 
            	<input type="text" placeholder="Enter Name" name="name" required><br><br> 
  				<label><b>Username</b></label><br> 
            	<input type="text" placeholder="Enter Username" name="username" required><br><br>
    	        <label><b>Password</b></label><br> 
 	        	<input type="text" placeholder="Enter Password" name="password" required><br><br> 
 	        	<label><b>Re-Enter Password</b></label><br>
 	        	<input type="password" placeholder="Enter Password" name="rpassword" required><br> 
  				<br>
  				<p></p>
            	<button type="submit">Create Account</button> 
            	<p></p>
        	</div> 
		</form>
	</p>
{% endblock %}
