{% extends "layout.html" %}

{% block title %}
	Readers for Readers: {{username}}
{% endblock %}

{% block heading %}
    Readers for Readers
    <br>
    Welcome, {{username}}
{% endblock %}

{% block images %}
    			  <img src="{{ url_for('static',filename='images/img1.jpg') }}">
			      <img src="{{ url_for('static',filename='images/img2.jpg') }}">
			      <img src="{{ url_for('static',filename='images/img3.jpg') }}">
			      <img src="{{ url_for('static',filename='images/img4.jpg') }}">
			      <img src="{{ url_for('static',filename='images/img5.jpg') }}">
			      <img src="{{ url_for('static',filename='images/img6.jpg') }}">
{% endblock %}

{% block center %}
	<p class="center">
		<h3 style="font-family: times; color: #4d194d; text-align: left;"><b><u>Looking for a book?</u></b></h3>
		<form action="{{ url_for('user', username=username) }}" method="post" style="border-style: solid; border-width: 1.5px; border-color: brown; text-align: center; font-family: times; color: brown;">
		<div class="container"> 
			<br>
            <label><b>Search By ISBN Number:</b></label>
            <input type="text" placeholder="Enter ISBN" name="isbn"><br><br> 
  			<label><b>Search By Book Title:</b></label>
            <input type="text" placeholder="Enter Title" name="title"><br><br> 
            <label><b>Search By Author:</b></label>
            <input type="text" placeholder="Enter Author" name="author"><br><br>
  			<p></p>
            <button type="submit">Search</button> 
            <br>
            <br>
        </div> 
		</form>
	 </p>
	 <p class="center">
		<h3 style="font-family: times; color: #4d194d; text-align: left;"><b><u>Your Reviews: </u></b></h3>
		<ul style="font-family: times; color: #4d194d; text-align: left;">
				{% if reviews=='empty' %}
					<li>No Reviews Yet...</li>
				{% else %}
					{% for item in reviews %}
					<li>
                		<b>Book ISBN: </b>{{item[1]}}<br>
                		<p>{{item[2]}}</p>
                		<b>Rating: </b>{{item[3]}}
                		<br>
                	</li><br><br>
                	{% endfor %}
            	{% endif %}		
		</ul>
	</p>
{% endblock %}

{% block right %}
<div class="right">
	<br>
	<h6 style="font-family: times; color: #4d194d;">Found what you looking for?</h6>
	<br>
	<a href="{{ url_for('index') }}" style="border-style: solid; border-color: brown; color: brown; padding: 1%;">Logout</a>
	<br>
	<br>   
</div>  
{% endblock %}